<div class="wrapper">
    <div fxLayout="column" fxFlexFill fxLayoutAlign="center center">
            <p>S akoukoľvek otázkou sa na mňa obráťte emailom</p>
            <strong color="primary">bemi@gmail.com</strong>
            <mat-list>
                <mat-list-item></mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <p>zavolajte</p>
            <strong>0911 235 285</strong>
            <mat-list>
                <mat-list-item></mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <p>Alebo napíšte priamo tu</p>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1"></textarea><br />
            <button color="primary">Odeslat</button>
            <mat-list>
                <mat-list-item></mat-list-item>
                <mat-divider></mat-divider>
            </mat-list>
            <span><strong>IČO:</strong>54002443</span><br>
            <span><strong>DIČ:</strong>2121561266</span><br>
            <span><strong>IČDPH:</strong>SK2121561266</span><br>
            <span><strong>Sídlo:</strong>BeMi nábytok, s. r. o.<br>
                1. mája 206/14 013 24 Strečno</span><br>
    </div>
</div>