<div>
  <mat-toolbar color="primary">
      <span [routerLink]="['/home']">BeMi nábytok</span>
      <span class="example-spacer"></span>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/products']">Naše výrobky</button>
        <button mat-menu-item [routerLink]="['/3D']">3D návrhy</button>
        <button mat-menu-item [routerLink]="['/contact']">Firemné údaje</button>
        <button mat-menu-item [routerLink]="['/references']">Referencie</button>
      </mat-menu>
    </mat-toolbar>
  <router-outlet></router-outlet>
</div>