/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #efe8e1,
    100 : #d7c5b4,
    200 : #bc9f82,
    300 : #a1794f,
    400 : #8c5c2a,
    500 : #783f04,
    600 : #703903,
    700 : #653103,
    800 : #5b2902,
    900 : #481b01,
    A100 : #ff9f7c,
    A200 : #ff7a49,
    A400 : #ff5416,
    A700 : #fc4300,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

